<link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.css" />
<!--[if lte IE 8]>
<link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.ie.css" />
<![endif]-->

<script src="http://code.leafletjs.com/leaflet-0.3.1/leaflet.js"></script>

<div id="map" style="width:100%; height: 300px"></div>

<script type="text/javascript">

// initialize the map on the "map" div
var map = new L.Map('map');

// create the bus stop icon
var BusIcon = L.Icon.extend({
    iconUrl: "/images/icon-bus.gif",
    iconSize: new L.Point(18, 18),
    shadowSize: new L.Point(0, 0)
});

var busIcon = new BusIcon();

// create a CloudMade tile layer (or use other provider of your choice)
var cloudmade = new L.TileLayer('http://{s}.tile.cloudmade.com/4bdf8a2626c048129923f7597f80acce/45831/256/{z}/{x}/{y}.png', {
    maxZoom: 18
});

// add the CloudMade layer to the map set the view to a given center and zoom
map.addLayer(cloudmade).setView(new L.LatLng(47.6562508, -122.3105668), 15);


// invalidizeSize on every click of the next button
$(document).ready(function() {
    $('.next').click(function() {
        map.invalidateSize();
        map.locateAndSetView(/*MaxZoom*/ 15);
    });
});

// create the layer group for stops
$.leafletStopsLayer = new L.LayerGroup();
map.addLayer($.leafletStopsLayer);

// When the map is dragged... load stops from the OBA api
map.on('dragend', function(e) {
    e.latlng = map.getCenter();
    loadStops(e.latlng.lat, e.latlng.lng);
});

// find current location and update the map
map.on('locationfound', function(e) {
   loadStops(e.latlng.lat, e.latlng.lng);
});


</script>

